<form action="/memos/<%= @id %>" method="POST" class="my-3">
  <input type="hidden" name="_method" value="PATCH">
  <div>
    <input type="text" name="title" value="<%= @memo[:title] %>" class="w-100">
  </div>
  <div class="my-2">
    <textarea name="text" rows="5" class="w-100"><%= @memo[:text] %></textarea>
  </div>
  <input type="submit" value="保存" class="btn btn-primary">
</form>
