<a href="/memos/new" class="btn btn-primary px-4 my-3">追加</a>
<ul>
<% @memos.each_with_index do |memo, index| %>
  <li class="my-2">
    <a href="/memos/<%= index %>">
      <%= h(memo[:title]) %>
    </a>
  </li>
<% end %>
</ul>
