<a href="/memos/new" class="btn btn-primary my-3">新規作成</a>
<ul>
<% @memos.each_with_index do |memo, index| %>
  <li class="my-2">
    <a href="/memos/<%= index %>">
      <%= memo[:title] %>
    </a>
  </li>
<% end %>
</ul>
