<form action="/memos" method="POST">
  <div>
    <input type="text" name="title" value="" class="w-100">
  </div>
  <div class="my-2">
    <textarea name="text" rows="5" class="w-100"></textarea>
  </div>
  <input type="submit" value="保存" class="btn btn-primary">
</form>
